<footer class="footer">
    <hr class="footer__line">
    <div class="footer__wrapper">
        <a class="copyright-link footer__wrapper-copyright-link" href="https://github.com/Fokstal" target="_blank"
            rel="noopener noreferrer">
            © <small>2024-2025</small>, Fokstal
        </a>
        <div class="language-button" translate-title-key="changeLanguage" title="Change language">
            <select id="languageSelectList" class="language-button-select-list" onchange="changeLanguage()">
                <option class="language-button-select-list-item" value="be-BY">BY</option>
                <option class="language-button-select-list-item" value="ru-RU">RU</option>
                <option class="language-button-select-list-item" value="en-US">EN</option>
            </select>
        </div>
    </div>
</footer>
</div>