<main class="about">
    <section class="about__personal-info">
        <img id="photo" class="about__personal-info-photo" src="./assets/images/about/my-avatar.jpg" alt="My avatar"
            translate-alt-key="myAvatar" loading="lazy">
        <div class="about__personal-info-text">
            <h1 class="about__personal-info-text-title" translate-key="startTitle">
                Full name - Labut Kirill Anatolyevich
            </h1>
            <p class="about__personal-info-text-content" translate-key="startText">
                I am <strong>19 years old</strong>, and I was born and live in a cool country -
                <strong>Belarus</strong>.
                From the village, so we have a very close relationship with nature,
                Proud of my roots. I am always on the lookout for new knowledge and adventures.
                Very much appreciate the silence and peace that helps to enjoy each
                moment of life.
            </p>
        </div>
    </section>
    <section class="about__education-info">
        <div class="about__education-info-text">
            <h1 class="about__education-info-text-title" translate-key="educationTitle">
                Education
            </h1>
            <p class="about__education-info-text-content" translate-key="educationText1">
                First time I visited an educational institution in 2011, namely:
                «Stanislavsky Basic School» where he finished <strong>9 classes</strong> with a <strong>final score of
                    8.9</strong> :3.<br>
                Then my training continued in college at the POIT department
                in the «Novopolsky State Agricultural and Economic College» (<a
                    href="http://www.ngaek.by/index.php/ru/">college</a>).
                During the course, which lasted <strong>4 years</strong>, I actively explored the world of IT
                and even worked as a system administrator.
            </p>
            <img class="about__education-info-photo" id="photo" src="./assets/images/about/college-photo.jpg"
                alt="College photo" translate-alt-key="collegePhoto" loading="lazy">
            <p class="about__education-info-text-content" translate-key="educationText2">
                Has written many coursework and mini-projects, as well as a team
                with a classmate defended the diploma to the maximum mark - <strong>10 points</strong>.
                During the course I met some wonderful people and, above all,
                grew as a person, well and of course became at least a little
                but still a specialist and Web developer.
            </p>
        </div>
    </section>
    <section class="about__hobby-info">
        <div class="about__hobby-info-text">
            <h1 class="about__hobby-info-text-title" translate-key="hobbyTitle">
                Hobby
            </h1>
            <div class="about__hobby-info-text-content">
                <span class="about__hobby-info-text-content-ballgame">
                    <div class="about__hobby-info-text-content-ballgame-soccer">
                        <span translate-key="hobbySoccer">
                            i play in soccer
                        </span>
                        <img src="./assets/icons/hobby/football.svg">
                    </div>
                    <div class="about__hobby-info-text-content-ballgame-basketball">
                        <span translate-key="hobbyBasketball">
                            and basketball
                        </span>
                        <img src="./assets/icons/hobby/basketball.svg">
                    </div>
                </span>
                <span class="about__hobby-info-text-content-any-ball" translate-key="hobbyAnyBall">
                    any ball game...
                </span>
                <span class="about__hobby-info-text-content-love-sport">
                    <p class="about__hobby-info-text-content-love-sport-text" translate-key="hobbyLoveSport">
                        i love the <strong>sport!</strong>
                    </p>
                    <img class="about__hobby-info-text-content-love-sport-icon" src="./assets/icons/hobby/runner.svg">
                </span>
                <span class="about__hobby-info-text-content-any">
                    <p translate-key="hobbyAny">
                        I am actively trying to make books and cook delicious
                    </p>
                    <div class="about__hobby-info-text-content-any-icons">
                        <img src="./assets/icons/hobby/book.svg">
                        <img src="./assets/icons/hobby/cookie.svg">
                    </div>
                </span>
            </div>
        </div>
        <div class="about__hobby-info-photos">
            <div class="about__hobby-info-photos-sport">
                <div class="about__hobby-info-photos-sport-football">
                    <img id="photo" src="./assets/images/about/me-and-my-football-team.jpg"
                        alt="Photo with me and my football team" translate-alt-key="meAndFootballTeam" loading="lazy">
                    <span translate-key="hobbyMe">
                        it`s me
                    </span>
                    <!-- arrow -->
                </div>
                <div class="about__hobby-info-photos-ping-pong">
                    <img id="photo" src="./assets/images/about/me-and-friend-in-ping-pong.jpg"
                        alt="Photo of me and my friend playing ping-pong" translate-alt-key="meAndFriendInPingPong"
                        loading="lazy">
                    <span translate-key="hobbyMe">
                        it`s me
                    </span>
                    <!-- arrow -->
                </div>
            </div>
            <div class="about__hobby-info-photos-any">
                <img id="photo" src="./assets/images/about/another-world-belaz.jpg" alt="Photo with me and BELAZ"
                    , translate-alt-key="meAndBelaz" loading="lazy">
                <span translate-key="hobbyMe">
                    it`s me
                </span>
                <!-- arrow -->
            </div>
        </div>
    </section>
</main>