<main class="contact">
    <section class="contact__write-message-block">
        <form id="contactForm" class="contact__write-message-block-form">
            <h1 class="contact__write-message-block-form-title" translate-key="writeMe">Write me</h1>
            <div class="contact__write-message-block-form-item">
                <label class="contact__write-message-block-form-item-label" for="contactFormNameBox"
                    translate-key="nameForm">name</label>
                <input class="contact__write-message-block-form-item-text-box" type="name" id="contactFormNameBox">
                <span class="contact__write-message-block-form-item-error-box" id="contactFormNameErrorBox">error</span>
            </div>
            <div class="contact__write-message-block-form-item" style="margin-bottom: 35px;">
                <label class="contact__write-message-block-form-item-label" for="contactFormEmailBox"
                    translate-key="emailForm">email</label>
                <input class="contact__write-message-block-form-item-text-box" type="email" id="contactFormEmailBox">
                <span class="contact__write-message-block-form-item-error-box"
                    id="contactFormEmailErrorBox">error</span>
            </div>
            <div class="contact__write-message-block-form-item">
                <label class="contact__write-message-block-form-item-label" for="contactFormMessageBox"
                    translate-key="messageForm">message</label>
                <textarea class="contact__write-message-block-form-item-text-box-area" id="contactFormMessageBox"
                    rows="5"></textarea>
                <span class="contact__write-message-block-form-item-error-box"
                    id="contactFormMessageErrorBox">error</span>
            </div>
            <div class="captcha-block">
                <canvas id="captchaCanvas" class="captcha-block__canvas" width="100" height="20"></canvas>
                <div id="captchaCtrl" class="captcha-block__form">
                    <input id="captchaInput" class="captcha-block__form-input" type="text">
                    <button id="captchaResetBtn" type="button" class="captcha-block__form-reset-btn">
                        <img src="./assets/icons/any/reset.svg">
                    </button>
                </div>
            </div>
            <button class="contact__write-message-block-form-send-button" type="button"
                onclick="sendContactToAdminEmail()" translate-key="btnForm">
                <span class="contact__write-message-block-form-send-button-text">
                    send
                </span>
            </button>
        </form>
        <img id="contactWriteMessageBlockImg" class="contact__write-message-block-image" src="./assets/images/contact/pigeon-img.jpg"
            alt="Image with pigeons" translate-alt-key="pigeonImg" loading="lazy">
    </section>
    <span class="contact__more-links-helper">
        <p class="contact__more-links-helper-text" translate-key="moreLinks">
            take more links
        </p>
        <img class="contact__more-links-helper-icon" src="./assets/icons/any/arrow-down.svg" alt="\/">
    </span>
    <section class="contact__network">
        <ul class="contact__network-list">
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://t.me/Fokstal" target="_blank" rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/telegram.svg" alt="Telegram">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://instagram.com/fokstal" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/instagram.svg" alt="Instagram">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://github.com/Fokstal" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/github.svg" alt="GitHub">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://www.linkedin.com/in/fokstal/" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/linkedin.svg" alt="LinkedIn">
                </a>
            </li>
        </ul>
    </section>
</main>