<main class="exp">
    <section class="exp__skills">
        <h1 class="exp__skills-title" translate-key="skillsTitle">
            Skills
        </h1>
        <div class="exp__skills-technology">
            <h2 class="exp__skills-technology-title" translate-key="technologyTitle">
                technology...
            </h2>
            <ul class="exp__skills-technology-favorite-list">
                <li class="exp__skills-technology-favorite-list-item">
                    <img src="./assets/icons/technology/csharp.svg">
                    C#
                </li>
                <li class="exp__skills-technology-favorite-list-item">
                    <img src="./assets/icons/technology/asp.svg">
                    ASP
                </li>
                <li class="exp__skills-technology-favorite-list-item" title="EF & LINQ & ...">
                    <img src="./assets/icons/technology/dotnet.svg">
                    .NET
                </li>
                <li class="exp__skills-technology-favorite-list-item">
                    <img src="./assets/icons/technology/javascript.svg">
                    JavaScript
                </li>
                <li class="exp__skills-technology-favorite-list-item">
                    <img src="./assets/icons/technology/typescript.svg">
                    TypeScript
                </li>
                <li class="exp__skills-technology-favorite-list-item">
                    <img src="./assets/icons/technology/react.svg">
                    React
                </li>
            </ul>
            <ul class="exp__skills-technology-any-list">
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/html.svg">
                    HTML
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/css.svg">
                    CSS
                </li>
                <li class="exp__skills-technology-any-list-item" title="& SCSS">
                    <img src="./assets/icons/technology/sass.svg">
                    Sass
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/git.svg">
                    Git
                </li>
                <li class="exp__skills-technology-any-list-item" title="& Docker Compose">
                    <img src="./assets/icons/technology/docker.svg">
                    Docker
                </li>
                <li class="exp__skills-technology-any-list-item" title="Fedora, Debian">
                    <img src="./assets/icons/technology/linux.svg">
                    Linux
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/msqlserver.svg">
                    MS SQL
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/sqlite.svg">
                    SQLite
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/postgresql.svg">
                    PostgreSQL
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/swagger.svg">
                    Swagger
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/figma.svg">
                    Figma
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/markdown.svg">
                    Markdown
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/xaml.svg">
                    XAML
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/wpf.svg">
                    WPF
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/bootstrap.svg">
                    Bootstrap
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/jquery.svg">
                    JQuery
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/vba.svg">
                    VBA
                </li>
                <li class="exp__skills-technology-any-list-item">
                    <img src="./assets/icons/technology/python.svg">
                    Python
                </li>
            </ul>
        </div>
        <div class="exp__skills-chart-list">
            <div class="exp__skills-chart-list-item">
                <div class="exp__skills-chart">
                    <h2 class="exp__skills-chart-title" translate-chart-title-key="itLanguage">
                        IT Languages skill
                    </h2>
                    <div id="it-language-chart" class="exp__skills-chart-element"></div>
                </div>
                <div class="exp__skills-chart">
                    <h2 class="exp__skills-chart-title" translate-chart-title-key="itLanguageFreq">
                        Main IT languages of projects on GitHub
                    </h2>
                    <div id="it-language-freq-chart" class="exp__skills-chart-element"></div>
                </div>
            </div>
            <div class="exp__skills-chart-list-item">
                <div class="exp__skills-chart">
                    <h2 class="exp__skills-chart-title" translate-chart-title-key="libAndFw">
                        Libraries and frameworks skill
                    </h2>
                    <div id="lib-fw-chart" class="exp__skills-chart-element"></div>
                </div>
                <div class="exp__skills-chart">
                    <h2 class="exp__skills-chart-title" translate-chart-title-key="commitFreq">
                        Commit frequency on GitHub
                    </h2>
                    <div id="commit-freq-chart" class="exp__skills-chart-element"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="exp__practice">
        <div class="exp__practice-works">
            <h1 class="exp__practice-works-title" translate-key="workListTitle">
                Works
            </h1>
            <ul class="exp__practice-works-list">
                <li class="exp__practice-works-list-item">
                    <div class="exp__practice-works-list-item_ngaek-sysadmin">
                        <div class="exp__practice-place">
                            <h2 class="exp__practice-place-company" translate-key="ngaekTitle">
                                Educational institution
                                <br>
                                «Novopolsky State Agricultural and Economic College»
                            </h2>
                            <h3 class="exp__practice-place-position" translate-key="ngaekPosition">
                                Сomputer technician
                            </h3>
                            <span class="exp__practice-place-date">11.2023 - 07.2024</span>
                            <ul class="exp__practice-place-achievements" translate-key="ngaekExpMarkedList">
                                <li>configured the local network</li>
                                <li>repaired and assembled PCs</li>
                                <li>supported the database of students</li>
                                <li>video conference</li>
                                <li>developed mini-applications</li>
                                <li>taught computer operator practice</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="exp__practice-works-list-item">
                    <div class="exp__practice-works-list-item_ngaek-sysadmin">
                        <div class="exp__practice-place">
                            <h2 class="exp__practice-place-company" translate-key="tecTitle">
                                ROP «Minskenergo» Branch «Minsk CHP-3»
                            </h2>
                            <h3 class="exp__practice-place-position" translate-key="tecPosition">
                                Сomputer technician
                            </h3>
                            <span class="exp__practice-place-date">08.2024 - ...</span>
                            <ul class="exp__practice-place-achievements" translate-key="tecExpMarkedList">
                                <li>developed mini-tools</li>
                                <li>configured and configured PTC</li>
                                <li>prepared the process documentation</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="exp__practice-courses">
            <h1 class="exp__practice-courses-title" translate-key="courseListTitle">
                Courses
            </h1>
            <ul class="exp__practice-courses-list">
                <li class="exp__practice-courses-list-item">
                    <div class="exp__practice-courses-list-item_udemy-aspnetcore">
                        <div class="exp__practice-place">
                            <h2 class="exp__practice-place-company" translate-key="udemyTitle">
                                Udemy.com
                            </h2>
                            <h3 class="exp__practice-place-position" translate-key="udemyCourseName">
                                ASP.NET Core MVC. Part 1
                            </h3>
                            <span class="exp__practice-place-date">2023</span>
                            <img class="exp__practice-place-photo" id="photo"
                                src="./assets/images/exp/udemy-asp-mvc-certificate.jpg"
                                alt="Certificate by ASP.NET Core MVC. Part 1" translate-alt-key="udemyCertificate"
                                loading="lazy">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>